.table {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/Table.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.decoration {
  position: absolute;
  filter: drop-shadow(-1px -1px 10px rgba(0, 0, 4, 1));
  width: 300px
}

.beer {
  top: -120px;
  left: -30px;
}

.breze {
  bottom: -5px;
  left: 15px;
  rotate: 20deg
}

.ciggs {
  bottom: -60px;
  right: 150px;
  width: 500px;
  rotate: 20deg;
}
