.player-badge {
  height: 100px;
  width: 100px;
  border-radius: 15%;
  border: 5px solid #894E24;
  background-repeat: no-repeat;
  background-size: cover;
}

.player-one {
  background-image: url('../../assets/Bavarian_Guy.png');
}

.wrapper-one{
  position: absolute;
  bottom: 50px;
  left: 350px;
  display: flex;
  gap: 15px;
}

.wrapper-two{
  position: absolute;
  top: 120px;
  left: 30px;
  display: flex;
  gap: 15px;
}

.wrapper-three{
  position: absolute;
  top: 20px;
  right: 360px;
  display: flex;
  gap: 15px;
}

.wrapper-four{
  position: absolute;
  bottom: 150px;
  right: 20px;
  display: flex;
  gap: 15px;
}

h2 {
  font-family: 'Comics Deluxe', sans-serif;
  font-size: 20px;
  color: white;
  line-height: 0;
  margin-top: 60px;
}

h3 {
  font-family: "Calibri Light", sans-serif;
  font-size: 20px;
  color: antiquewhite;
  line-height: 10px;
}

.hand {
  position: absolute;
  bottom: -50px;
  height: 350px;
  left: calc(50% - 200px);
  width: 400px;
}

.hand .whole-hand {
  content: '';
  width: 100%;
  height: 400px;
  background-image: url('../../assets/Whole_Hand.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center
}

.hand .only-finger {
  position: absolute;
  width: 100%;
  height: 400px;
  background-image: url('../../assets/Only_Finger.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 10;
  pointer-events: none;
}

.test {
  margin: 0 0 0 0;
}

.card:hover {
  transform: translateY(-15px);
}

.card {
  width: 148px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.5));
  transition-duration: 125ms;
  transition-property: transform;
}

.card-hand {
  position: absolute;
  height: 200px;
  bottom: 75px;
  display: flex;
  justify-content: center;
  width: 40%;
  left: calc(30% + 50px);
}

.card-player1 {
  rotate: 90deg;
  left: 5px;
  top: calc(50% - 65px);
}

.card-player2 {
  rotate: 185deg;
  left: calc(50% - 180px);
  top: 5px;
}

.card-player3 {
  rotate: -90deg;
  right: 5px;
  top: calc(35% - 60px);
}

.computer-hand {
  position: absolute;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.card-played {
  position: absolute;
  top: 330px;
  margin-left: calc(50% - 150px);
  justify-content: center;
  transform-origin: center;
  pointer-events: none;
}

.stich {
  background-image: url('../../assets/Stich.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  background-position: center;
  text-align: center;
  z-index: 10;
  filter: drop-shadow(-1px -1px 10px rgba(0, 0, 0, 1));
}

.stich h1 {
  position: relative;
  width: 330px;
  top: 75px;
  font-family: 'Comics Deluxe', sans-serif;
}

.waiting {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.71);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  margin: auto;
  z-index: 100;
}

.waiting h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Comics Deluxe', sans-serif;
  font-size: 45px;
  color: antiquewhite;
}

.darkened {
  filter: brightness(50%);
}
