<app-card-table></app-card-table>

<!-- KARTEN DER SPIELER -->
<div *ngFor="let hand of cardsPlayer; let j = index">
  <div [class]="'player'+j">
    <div style="position: relative; display: flex; justify-content: center;">
      <div *ngFor="let card of hand; let i = index" [class]="'card'+i">
        <div *ngIf="currentPlayer!=j">
          <div *ngIf="round==-1">
            <img @cardIn [alt]="card.value" [src]="'assets/Cards/' + card.value + '.png'" class="card float">
          </div>
          <div *ngIf="round!=-1">
            <img [alt]="card.value" [src]="'assets/Cards/' + card.value + '.png'" class="card float">
          </div>
        </div>
        <div *ngIf="currentPlayer==j">
          <div *ngIf="playable(card.value)">
            <img (click)="playCard(i)" [alt]="card" [src]="'assets/Cards/' + card.value + '.png'" class="card float">
          </div>
          <div *ngIf="!playable(card.value)">
            <img [alt]="card" [src]="'assets/Cards/' + card.value + '.png'" class="darkend float">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- POPUPS -->
<div *ngIf="showPopup" @open class="wrapper">
  <div class="game-instructions">
    <h1 class="text">{{headingPhases[phase]}}</h1>
    <h6 class="text">{{textPhases[phase]}}</h6>
    <h5 class="text">Viel Glück!</h5>
    <button (click)="startPhase()"
            class="close"><b>Let's
      go!</b></button>
  </div>
</div>

<!-- GESPIELTE KARTEN -->
<div class="center">
  <div style="display: flex">
    <div *ngFor="let card of playedCard; let i = index">
      <div *ngIf="i%2==0" [style]="'rotate:' + i*-15 + 'deg; margin-left: -5%'">
        <img [alt]="card" [src]="'assets/Cards/' + card.value + '.png'" class="card">
      </div>
      <div *ngIf="i%2!=0" style="rotate: 15deg; margin-left: -5%">
        <img [alt]="card" [src]="'assets/Cards/' + card.value + '.png'" class="card">
      </div>
    </div>
  </div>
</div>

<!--SPIELER BADGES -->
<div *ngFor="let player of players; let i = index">
  <div *ngIf="currentPlayer == i;">
    <div [class]="'player badge' + i + ' glow'">
      <h2 class="textplayer first">{{player.name}}</h2>
      <h2 class="textplayer second">{{player.money}}<b class="ct">ct</b></h2>
    </div>
  </div>
  <div *ngIf="currentPlayer != i;">
    <div [class]="'player badge' + i">
      <h2 class="textplayer first">{{player.name}}</h2>
      <h2 class="textplayer second">{{player.money}}<b class="ct">ct</b></h2>
    </div>
  </div>
</div>

<!--STICH ANIMATION -->
<div *ngIf="showStich" @open class="stich">
  <h2 style="color: #ff0000">{{players[looser].name}} sticht.{{moneyString}}</h2>
</div>


<!-- CARDS PLAYED FINAL -->
<div *ngIf="phase==6" class="center">
  <div *ngFor="let color of playedCardsFinal" style="display: flex; margin-bottom: -5%">
    <div *ngFor="let card of color">
      <img [alt]="card" [src]="'assets/Cards/' + card.value + '.png'" class="cardSmall">
    </div>
  </div>
</div>

<!-- MEDALS -->
<div *ngIf="phase==6">
  <div *ngFor="let medal of sourceWinners; let i = index">
    <img [class]="'medal' + i" [src]="medal" alt="medal">
  </div>
</div>

<!-- ENDSCREEN -->
<div *ngIf="displayWinnings" @open class="wrapper">
  <div class="game-instructions">
    <h1 class="text">Results:</h1>
    <div style="display: flex">
      <img class="medalsmall" src="assets/medals/first.png">
      <div style="width: 75%">
        <h2 class="text">{{winner[0].name}} (200)</h2>
      </div>
    </div>
    <div style="display: flex">
      <img class="medalsmall" src="assets/medals/second.png">
      <div style="width: 75%">
        <h2 class="text">{{winner[1].name}} (120)</h2>
      </div>
    </div>
    <div style="display: flex">
      <img class="medalsmall" src="assets/medals/third.png">
      <div style="width: 75%">
        <h2 class="text">{{winner[2].name}} (80)</h2>
      </div>
    </div>
    <div style="display: flex; margin-bottom: 5vh ">
      <img class="medalsmall" src="assets/medals/forth.png">
      <div style="width: 75%">
        <h2 class="text">{{winner[3].name}} (0)</h2>
      </div>
    </div>
    <button (click)="resetGame()" class="close"><b>Go again!</b></button>
    <button [routerLink]="['/']" class="close"><b>Exit</b></button>
  </div>
</div>
