
<app-card-table></app-card-table>

<div @open *ngIf="showTutorial" class = "wrapper">
  <div class = "game-instructions">
    <h1 class = "text">Scheiß Paris</h1>
    <h6 class = "text">Das Spiel "Scheiß Paris" wird in fünf Spielrunden und eine Finalrunde unterteilt.
      Während der Spielphase wird je nach Runde Geld in den Pott eingezahlt, welches in der Finalrunde ausgespielt wird.</h6>
    <h6 class = "text">Immer geltende Regeln:<br>- Der Stechende des vorherigen Spielzuges spielt aus<br>- Außerdem muss die erste gelegte Farbe immer zugegeben werden. Bedeutet: Wenn man mindestens eine Karte in der ausgelegten Farbe besitzt, muss man eine solche zugeben.</h6>
    <h5 class = "text">Die genaueren Regeln der Runden werden davor erklärt.</h5>
    <button class = "close" (click)="showTutorial=false; dealCards()"><b>Alles klar!</b></button>
  </div>
</div>




<div style="position: absolute; left: -35%; top: 40%; width: 100%; rotate: 90deg">
  <div style="position: relative; display: flex; justify-content: center;">
    <div *ngFor="let card of currentCardsPlayer2; let i = index" [class]="'p1card' + i">
      <div *ngIf="currentPlayer!=1">
        <div *ngIf="round==-1">
          <img @cardIn [src]="'assets/Cards/' + card.value + '.png'" [alt]="card.value" class = "card float">
        </div>
        <div *ngIf="round!=-1">
          <img [src]="'assets/Cards/' + card.value + '.png'" [alt]="card.value" class = "card float">
        </div>
      </div>
      <div *ngIf="currentPlayer==1">
        <div *ngIf="playable(card.value)">
          <img [src]="'assets/Cards/' + card.value + '.png'" [alt]="card" class = "card float" (click)="playCard(i)">
        </div>
        <div *ngIf="!playable(card.value)">
          <img [src]="'assets/Cards/' + card.value + '.png'" [alt]="card" class = "darkend float">
        </div>
      </div>
    </div>
  </div>
</div>

<div style="position: absolute; top: 10%; width: 100%; rotate: 180deg">
  <div style="position: relative; display: flex; justify-content: center;">
    <div *ngFor="let card of currentCardsPlayer3; let i = index" [class]="'p1card' + i">
      <div *ngIf="currentPlayer!=2">
        <div *ngIf="round==-1">
          <img @cardIn [src]="'assets/Cards/' + card.value + '.png'" [alt]="card.value" class = "card float">
        </div>
        <div *ngIf="round!=-1">
          <img [src]="'assets/Cards/' + card.value + '.png'" [alt]="card.value" class = "card float">
        </div>
      </div>
      <div *ngIf="currentPlayer==2">
        <div *ngIf="playable(card.value)">
          <img [src]="'assets/Cards/' + card.value + '.png'" [alt]="card" class = "card float" (click)="playCard(i)">
        </div>
        <div *ngIf="!playable(card.value)">
          <img [src]="'assets/Cards/' + card.value + '.png'" [alt]="card" class = "darkend float">
        </div>
      </div>
    </div>
  </div>
</div>

<div style="position: absolute; top: 40%; right: -35%; width: 100%; rotate: 270deg">
  <div style="position: relative; display: flex; justify-content: center;">
    <div *ngFor="let card of currentCardsPlayer4; let i = index" [class]="'p1card' + i">
      <div *ngIf="currentPlayer!=3">
        <div *ngIf="round==-1">
          <img @cardIn [src]="'assets/Cards/' + card.value + '.png'" [alt]="card.value" class = "card float">
        </div>
        <div *ngIf="round!=-1">
          <img [src]="'assets/Cards/' + card.value + '.png'" [alt]="card.value" class = "card float">
        </div>
      </div>
      <div *ngIf="currentPlayer==3">
        <div *ngIf="playable(card.value)">
          <img [src]="'assets/Cards/' + card.value + '.png'" [alt]="card" class = "card float" (click)="playCard(i)">
        </div>
        <div *ngIf="!playable(card.value)">
          <img [src]="'assets/Cards/' + card.value + '.png'" [alt]="card" class = "darkend float">
        </div>
      </div>
    </div>
  </div>
</div>

<div style="position: absolute; bottom: 10%; width: 100%">
  <div style="position: relative; display: flex; justify-content: center;">
    <div *ngFor="let card of currentCardsPlayer1; let i = index" [class]="'p1card' + i">
      <div *ngIf="currentPlayer!=0">
          <div *ngIf="round==-1">
        <img @cardIn [src]="'assets/Cards/' + card.value + '.png'" [alt]="card.value" class = "card float">
          </div>
        <div *ngIf="round!=-1">
          <img [src]="'assets/Cards/' + card.value + '.png'" [alt]="card.value" class = "card float">
        </div>
      </div>
      <div *ngIf="currentPlayer==0">
        <div *ngIf="playable(card.value)">
          <img [src]="'assets/Cards/' + card.value + '.png'" [alt]="card" class = "card float" (click)="playCard(i)">
        </div>
        <div *ngIf="!playable(card.value)">
          <img [src]="'assets/Cards/' + card.value + '.png'" [alt]="card" class = "darkend float">
        </div>
      </div>
    </div>
  </div>
</div>



<div @open *ngIf="showGame1" class = "wrapper">
  <div class = "game-instructions">
    <h1 class = "text">{{headingPhases[phase-1]}}</h1>
    <h6 class = "text">{{textPhases[phase-1]}}</h6>
    <h5 class = "text">Viel Glück!</h5>
    <button class = "close" (click)="showGame1=false; startGame(); this.currentPlayer = (this.beginPlayer+this.phase-1)%4;"><b>Let's go!</b></button>
  </div>
</div>

<div class = "center">
  <div style="display: flex">
<div *ngFor="let card of playedCard; let i = index" >
    <div *ngIf="i%2==0" [style]="'rotate:' + i*-15 + 'deg; margin-left: -5%'">
  <img [src]="'assets/Cards/' + card.value + '.png'" [alt]="card" class = "card">
    </div>
  <div *ngIf="i%2!=0" style="rotate: 15deg; margin-left: -5%">
    <img [src]="'assets/Cards/' + card.value + '.png'" [alt]="card" class = "card">
  </div>
</div>
</div>
</div>

<div *ngIf="currentPlayer == 0;">
<div class="player one glow">
  <h2 class="textplayer first">{{player[0].name}}</h2>
  <h2 class="textplayer second">{{player[0].money}}<b class="ct">ct</b></h2>
</div>
</div>

<div *ngIf="currentPlayer != 0;">
  <div class="player one">
    <h2 class="textplayer first">{{player[0].name}}</h2>
    <h2 class="textplayer second">{{player[0].money}}<b class="ct">ct</b></h2>
  </div>
</div>

<div *ngIf="currentPlayer == 1;">
<div class="player two glow">
  <h2 class="textplayer first">{{player[1].name}}</h2>
  <h2 class="textplayer second">{{player[1].money}}<b class="ct">ct</b></h2>
</div>
</div>

<div *ngIf="currentPlayer != 1;">
  <div class="player two">
    <h2 class="textplayer first">{{player[1].name}}</h2>
    <h2 class="textplayer second">{{player[1].money}}<b class="ct">ct</b></h2>
  </div>
</div>

<div *ngIf="currentPlayer == 2;">
<div class="player three glow">
  <h2 class="textplayer first">{{player[2].name}}</h2>
  <h2 class="textplayer second">{{player[2].money}}<b class="ct">ct</b></h2>
</div>
</div>

<div *ngIf="currentPlayer != 2;">
  <div class="player three">
    <h2 class="textplayer first">{{player[2].name}}</h2>
    <h2 class="textplayer second">{{player[2].money}}<b class="ct">ct</b></h2>
  </div>
</div>

<div *ngIf="currentPlayer == 3;">
<div class="player four glow">
  <h2 class="textplayer first">{{player[3].name}}</h2>
  <h2 class="textplayer second">{{player[3].money}}<b class="ct">ct</b></h2>
</div>
</div>

<div *ngIf="currentPlayer != 3;">
  <div class="player four">
    <h2 class="textplayer first">{{player[3].name}}</h2>
    <h2 class="textplayer second">{{player[3].money}}<b class="ct">ct</b></h2>
  </div>
</div>

<div @open *ngIf="showStich" class = "stich">
<h2 style="color: #ff0000">{{player[looser].name}} sticht.{{moneyString}}</h2>
</div>
